* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
}

/*This is for the header*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: #20639b;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
}

.nav-children {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-children a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 12px;
}

.nav-children li {
    list-style: none;
}

.burgerAnimation {
    display: none;
}

.burgerAnimation div {
    width: 30px;
    height: 3px;    
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.pressBurger .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.pressBurger .line2{
    opacity: 0;
}

.pressBurger .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*This is for a smaller viewport i.e smartphones */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .logo {
        letter-spacing: 2px;
    }

    .nav-children{
        position: absolute;
        right: 0px;
        height: 90%;
        top: 8vh;
        background-color: #20639b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-children li{
        opacity: 0;
    }

    .burgerAnimation{
        display: block;
        cursor: pointer;
    }

    .nav-active{
        transform: translateX(0%);
        z-index: 2;
    }
    
    .intro {
        height: 92vh;
    }
    
    .intro h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        color: white;
    }
    
    span {
        opacity: 0;
        transition: all 3s ease;
        display: inline-block;
        transform: translateY(60px);
        color: black;
    }
    
    span.fade {
        opacity: 1;
        transform: translateY(0px);
        color: rgb(255, 255, 255);
    }
    
    .intro img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

    
}

/*This is for the main picture on the landing spot*/
.intro {
    height: 92vh;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: white;
}

span {
    opacity: 0;
    transition: all 3s ease;
    display: inline-block;
    transform: translateY(60px);
    color: black;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
    color: rgb(255, 255, 255);
}

.intro img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



